@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body{
    background-color: #cdd0cb;
    
}
/* Header AND Navbar */
header{
    width: 100vw;
    height: 75px;
    background-color: #f05454;
    margin-bottom: 90px;
}
.nav-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.nav-ul > .titulo > label{
    font-weight: 700;
    margin-left: 40px;
    letter-spacing: 6px;
    font-size: 23px;
}
.buscador{
    width: 270px;
    height: 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #fad586;
    outline: none;
    padding-left: 10px;
}
.lupa{
    
}
.fa-search{
    
}
.ul-li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}
.ul-li > li > a{
    text-decoration: none;
    margin-right: 20px; 
    padding: 10px 20px 10px 20px;
    font-weight: bold;  
    color: black;

}
.ul-li > li > a:hover{
    background-color: #fdffbc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ul-li > li{
    list-style: none;
    
}
/* Fin HEADER AND NAVBAR */

.contenedor{
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 40%;
    
    align-items: center;
    gap: 20px;
}
/* Width 320px Responsive */

@media screen AND (max-width:320px){
    /* Header */
    header{
        margin-bottom: 20px;
    }
    .nav-ul > .titulo > label{
    position: relative;
    top: 10px;
    left: 123px;
    margin: 0px;
    letter-spacing: 1px;
    font-size: 19px;
    
    
       
    }
    form{
        position: relative;
        top: 10px;
        right: 61px;
        display: flex;
    
        
        
    }
    .buscador{
        width: 230px;
    
    }
    .titulo{
        height: 75px;
        display: flex;
        justify-content: center;
        letter-spacing: 3px;
        margin-left: 5px;
        
    }
   
  .ul-li{
      display: none;
  }
  /* END HEADER */
    img{
        max-width: 100%;
        width: 500px;
        height: 400px;
        margin-left: 7px;
    }
    .card{
    width: 300px;

    }
    .contenedor{
       grid-template-columns: 1fr;
        
    }
}



/* Width 376px Responsive */

@media screen AND (max-width:376px){
    /* Header */

    .nav-ul > .titulo > label{
    position: relative;
    top: 10px;
    left: 123px;
    margin: 0px;
    letter-spacing: 1px;
    font-size: 19px;
       
    }
    form{
        position: relative;
        top: 10px;
        right: 61px;
        display: flex;
    
        
        
    }
    .buscador{
        width: 230px;
    
    }
    .titulo{
        height: 75px;
        display: flex;
        justify-content: center;
        letter-spacing: 3px;
        margin-left: 5px;
        
    }
   
  .ul-li{
      display: none;
  }
  /* END HEADER */
    img{
        max-width: 100%;
        width: 500px;
        height: 400px;
    }
    .card{
    width: 300px;

    }
    .contenedor{
       
        grid-template-columns: 85%;
    }
}

/* Width 425px Responsive */

@media screen AND (max-width: 425px){
    /* Header */
    
    .nav-ul > .titulo > label{
    position: relative;
    top: 10px;
    left: 123px;
    margin: 0px;
    letter-spacing: 1px;
    font-size: 19px;
       
    }
    form{
        position: relative;
        top: 10px;
        right: 61px;
        display: flex;
    
        
        
    }
    .buscador{
        width: 230px;
    
    }
    .titulo{
        height: 75px;
        display: flex;
        justify-content: center;
        letter-spacing: 3px;
        margin-left: 5px;
        
    }
   
  .ul-li > li > a{
      display: none;
  }
  /* END HEADER */
    img{
        max-width: 100%;
        width: 500px;
        height: 400px;
    }
    .card{
    width: 300px;

    }
    .contenedor{
       
        grid-template-columns: 85%;
    }
}

